:root {
    --main-color: #b9bb75;
    --sec-color: #383421;
    --white: #fff;
    --black: #010103;
    --border-main: .1rem solid #b9bb75;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../img/bg2.jpg');
    background-size: cover;
}

section {
    padding: 2rem 7%;
}

.header {
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 6%;
    border-bottom: var(--border-main);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 5rem;
    width: 6rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--white);
}
.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icon div {
    color: var(--white);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icon div:hover {
    color: var(--main-color);
}

.heading {
    text-align: center;
    color: var(--main-color);
    text-transform: uppercase;
    padding-bottom: 5.5rem;
    font-size: 3rem;
}

.heading span {
    color: var(--sec-color);
    text-transform: uppercase;
}

.title {
    margin-top: 8rem;
}

.list {
    margin-top: 9rem;
}

#list {
    font-size: 12pt;
    border-collapse: collapse;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

table td, th {
    border: var(--border-main);
    padding: .5rem;
}
table tr:nth-child(even) {
    background-color: #323232;
    color: var(--white);
}
table tr:nth-child(odd) {
    background-color: #565656;
    color: var(--white);
}
table tr:hover {
    background-color: var(--black);
    color: var(--white);
}
table th {
  padding-top: .75rem;
  padding-bottom: .75rem;
  text-align: center;
  background-color: var(--sec-color);
  color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}
a:hover {
    color: var(--main-color);
}

.btn {
    color: var(--white);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.btn:hover {
    color: var(--main-color);
}